<!DOCTYPE html>
<html>
    <head>
      <h1>To Do</h1>
    </head>

    <body>
      <%= render 'table' %>
    </body><br/>
    <p>
      <%= link_to '新任务', new_task_path, class: 'btn btn-success btn-xs' %>
    </p>
</html>
