/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
body {
    background-color: #f0ffff;
}
.navbar-default {
    background-color: #f6ffff;
}
#home_table {
    background-color: #f0ffff;
    th {
        text-align: center;
    }
}
#check_button {
    color: #AAA;
}
#edit_button {
    color: #1A9909;
}
.checked {
    .checked_th {
        color: #AAA;
        text-decoration: line-through;
    }
    #check_button {
        color: #1A9909;
    }
    #edit_button {
        pointer-events: none;
        color: #AAA;
    }
}
