/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
body {
    background-color: #f0ffff;
}
.navbar-default {
    background-color: #f6ffff;
}
#home_table {
    background-color: #f0ffff;
    .no_show {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    th {
        text-align: center;
    }
}
.hidden_picture {
    width: 50%;
    height: 50%;
    clear: both;
    display: block;
    margin: auto;
}
.glyphicon-ok {
    color: #AAA;
}
.glyphicon-pencil {
    color: #1A9909;
    text-indent: 1em;
}
.glyphicon-remove {
    text-indent: 1em;
}
.checked {
    .checked_th {
        color: #AAA;
        text-decoration: line-through;
    }
    .glyphicon-ok {
        color: #1A9909;
    }
    .glyphicon-pencil {
        pointer-events: none;
        color: #AAA;
    }
}
